[General]
backup_host = localhost
backup_user = user
backup_retention_days = 30
backup_path = C:\

[Files]
webspace_path = /home/user
joomla_path = joomla
backup_filename_suffix = _file_backup.tar.gz

[Database]
name = database
host = localhost
backup_filename_suffix = _db_backup.sql.gz